{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('donation_chart');
    const ctx = canvas.getContext('2d');
    let chartData = JSON.parse(canvas.dataset.chart);

    chartData.forEach(row => { row.x = new Date(row.created_at).toLocaleString() });

    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [
          {
            label: 'Статистика донатов',
            data: chartData,
            backgroundColor: '#309bbf',
          },
        ],
      },
      options: {
        responsive: true,
      },
    });
  });
</script>
{% endblock %}

{% block content %}
<div>
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="donation_chart"
    data-chart='{{ chart_data | safe }}'></canvas>
</div>
{{ block.super }}
{% endblock %}

{% block object-tools-items %}
  {% include "admin/import_export/change_list_export_item.html" %}
   {{ block.super }}
{% endblock %}